# ELP Dual Lens Sync Camera
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9750", ATTR{index}=="0", SYMLINK+="elp_stereo", MODE="0776"
