<?xml version="1.0"?>
<launch>
	<arg name="video_device" default="/dev/elp_stereo" />

	<include file="$(find elp_stereo_camera)/launch/camera_driver_elp.launch">
		<arg name="video_device" value="$(arg video_device)" />
		<arg name="camera_info" value="false" />
	</include>

	<node ns="elp_camera" pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" 
		args="--size 8x6 --square 0.101 --no-service-check
			right:=right/image_raw
			left:=left/image_raw 
			right_camera:=right 
			left_camera:=left" 
		output="screen">
	</node>

</launch>
