<?xml version="1.0"?>
<launch>

    <arg name="pi/2" value="1.5707963267948966" />

    <node pkg="tf" type="static_transform_publisher" name="camera_base_link"
        args="0 0 0 -$(arg pi/2) 0 -$(arg pi/2) base_link cameras 100" /> 

	<arg name="video_device" default="/dev/video0" />

	<arg name="image_width" default="640" />
	<arg name="image_height" default="480" />

	<arg name="framerate" default="30" />

	<arg name="camera_info" default="false" />
	<arg name="calib_data_path" default="$(find elp_stereo_camera)/calib_data" />

	<!-- <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/> -->

	<node ns="stereo" name="cameras" pkg="elp_stereo_camera" type="cv_camera_node" output="screen">
		<param name="device_path" value="$(arg video_device)" />

		<param if="$(arg camera_info)" name="left/camera_info_url" value="file://$(arg calib_data_path)/left.yaml" /> 
		<param if="$(arg camera_info)" name="right/camera_info_url" value="file://$(arg calib_data_path)/right.yaml" /> 

		<param name="image_width" value="$(arg image_width)" />
		<param name="image_height" value="$(arg image_height)" />
		<param name="rate" value="$(arg framerate)" /> 
		<param name="frame_id" value="cameras" />

	</node>

</launch>
