<?xml version="1.0"?>
<launch>
	<node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <!-- Modified defaults -->
		<param name="speckle_range" value="4" />
        <param name="min_disparity" value="-24" />
        <param name="disparity_range" value="96" />
        <param name="stereo_algorithm" value="0" />
	</node>
</launch>
